body {
  background-color: #fff;
  background-image: url("bb.png");
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center;
    background-attachment: fixed;
  overflow-x: hidden;

 
}


.candle-count-display {
  
  background-image: url("./hat.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 210px;
    height: 200px;
    margin-left: auto;
      margin-right: auto;
      line-height: 230px;
  /* font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #6A4B18;
 
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
 
  border: 2px solid #553C13; */
}

.candle-count-display span {
  font-weight: bold;
  font-family: cursive;
  font-size: 54px;
  color: #173b70;
  margin-top: auto;
  margin-bottom: auto; 
}


.cake {
  position: absolute;
  width: 350px;
  height: 200px;
  top: 60%;
  left: 45%;
  margin-top: -70px;
  margin-left: -125px; 
}

.plate {
  width: 300px;
  height: 110px;
  position: absolute;
  bottom: 90px;
  left: 0px;
  background-color: #39210a;
  border-radius: 50%;
  box-shadow: 0 2px 0 #edf4f5, 0 4px 0 #b3b3b3, 0 5px 40px rgba(0, 0, 0, 0.5);
}

.cake > * {
  position: absolute;
}

.layer{
  background-image: url("cake2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 210px;
  bottom: 100px;
  left: 0px;
}

.song {
  align-items: center;
  position: absolute;
  width: 350px;
  height: 200px;
  top: 0%;
  left: 20%;
  filter:  saturate(10%) contrast(59%) invert(2%) opacity(0.4);
  width: 200px;
  height: 30px;
      
}


.text {
  width: 550px;
  font-size: 80px;
  left: auto;
  top: -80px;
  z-index: -1;
  transition: .3s;
  opacity: 0;
}
.candle {
  background-image: linear-gradient(to bottom right, #8dffe6, #2856b7);
  width: 12px;
  height: 35px;
  border-radius: 6px/3px;
  top: -20px;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
}
.candle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 6px;
  border-radius: 50%;
  background-color: #8dffe6;
}

.candle.out .flame {
  display: none;
}

.flame {
  position: absolute;
  background-image: linear-gradient(to bottom, #fff982,white, yellow, #ffa666,orange,rgb(255, 143, 15),rgb(255, 93, 19));
  width: 10px;
  height: 25px;
  border-radius: 8px 8px 8px 8px/20px 20px 8px 8px;
  top: -34px;
  left: 50%;
  margin-left: -7.5px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(247, 169, 23, 0.644), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  transform-origin: 50% 100%;
  animation: flicker 4s ease-in-out alternate infinite,wind 2s ease-in-out alternate infinite, size 1s ease-in-out infinite, cloudy 2s ease-in-out infinite;
}

@keyframes flicker {
  0% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
  }
  25% {
    transform: skewX(-5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
  50% {
    transform: skewX(10deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
  }
  75% {
    transform: skewX(-10deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
  }
  100% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
}
@keyframes wind {

  0%,
  22%,
  49%,
  62%,
  81%,
  100% {
    border-radius: 2px 14px 8px 8px / 20px 20px;
  }

  14%,
  32%,
  56%,
  70%,
  89% {
    border-radius: 14px 2px 8px 8px / 20px 20px;
  }}
    @keyframes size {
  
      0%,
      22%,
      49%,
      62%,
      81%,
      100% {
        transform: scale(1, 0.9);
      }
  
      14%,
      32%,
      56%,
      70%,
      89% {
        transform: scale(0.9, 0.9);
      }
    }
        @keyframes cloudy {
    
          0%,
          22%,
          49%,
          62%,
          81%,
          100% {
            box-shadow: 0 0 20px 0 rgba(255, 202, 0, 0.7);
          }
    
          14%,
          32%,
          56%,
          70%,
          89% {
            box-shadow: 00 30px 0 rgba(255, 202, );
          }
        }